$color-primary: rgba(3, 3, 196);
$color-primary-shadow: rgba(0, 128, 0, .26);
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #b6b5b5;
$color-light-grey: #F7F7F7;
$color-title: $color-primary;
$color-grey-medium: #e1e2e3
