.balanceTable {
  height: 400px;
  &__incomes {
    position: relative;
    background-color: red;
    border: solid 1px $color-primary;
    border-radius: 20px;
    &--container {
      display: flex;
      flex-direction: column;
      //justify-content: space-between;
    }
    &--list {
      display: flex;
      justify-content: space-between;
      padding: 1% 2% 1% 2%;
      p {
        width: 60%;
      }
    }
    &--summary {
      position: absolute;
      left: 5%;
      bottom: 5%;
    }
  }
  &__expenses {
    position: relative;
    background-color: red;
    border: solid 1px $color-primary;
    border-radius: 20px;
    &--list {
      display: flex;
      justify-content: space-between;
      padding: 1% 2% 1% 2%;
    }
    &--container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &--summary {
        position: absolute;
        left: 5%;
        bottom: 5%;
      }
  }
}
