.balanceSheet {
  display: flex;  
  height: 200px;
  
  &__result {
    display:flex;
    align-items: center;
    background-color: green;
    
  }
  &__leftField {
    background-color: yellow;
  }
  &__rightField {
    background-color: yellow;
  }
}
